h1,h2{
    color: rgb(8, 8, 78);
    text-transform: uppercase;
}
p{
    font-style: italic;
}

#t10 article p{
    font-style: italic;
     color: #a52a2a;
     line-height: 1.6;
     font-size: 16px;
     border-bottom: 5px;
     border-radius: 2px;
}
body{
    background-color: rgb(224, 217, 255);
   font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(217, 219, 255);
    padding: 15px;
}
hr{
    border: 2px solid black;
}
nav a{
    text-decoration: dotted;
    color: rgb(122, 26, 177);
    margin: 10px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
    color: darkgreen;
}
#t11{
    text-transform: capitalize;
}
footer{
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 10px;
}
