      *{
            margin: 0%;
            padding: 0%;
        } 
         html,body{
            text-align: center;
            display: block;
            border: 0cap;
            border-radius: 50%;
            font-family: 'Courier New', Courier, monospace;
            width: 100%;
            height: 100%;
        }
        body{
            background-color: antiquewhite;
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: inherit;
            text-align: center;
            text-decoration: dotted;
            border: 0cap;
            border-radius: 50%;
            
            align-items: center;
            justify-content: center;
        }
        div{
            font-style: oblique;
            font: optional;
            font-weight: 200;
            background-position: 0%;
            text-align: center;
            width: 30%;
            height: 30%;
            color: aliceblue;
            font-size: larger;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }  
        #box1{
            background-color: rgb(74, 49, 17);
        }
        #box2{
            background-color: rgb(17, 18, 74);
        }